<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Courses</title>

    {% extends "Customer/base.html" %}
    {% block title %}Ecofashion Hub - Home{% endblock %}

    {% block content %}

    <style>
        .product-title {
            display: -webkit-box;
            height:50px;
            -webkit-line-clamp: 2; /* Number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>

    <div class="d-flex flex-row">
        <div class="filters pr-5 border-right" style="border-right-width: 5px!important;">
            <h1>Filters</h1>
            <h3>All Categories</h3>

            <!--nutriton video-->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eVBWHnHEX6I?si=9H95of4W0TGEnY61" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    

        </div>
    </div>

    
    {% endblock %}

</body>
</html>
