{% extends "Customer/base.html" %}
{% block title %}Ecofashion Hub - Home{% endblock %}

{% block content %}
<div class="landing-page">
        <div class="row col-lg-12">
            <div class="col-md-6 text-center">
                <br><br><br><br><br><br><br>
                <h1 class="paragraph-text">CLOTHES ARE NOT GOING TO CHANGE THE WORLD, THE WOMEN WHO WEAR THEM WILL.</h1>
            </div>
            <div class="col-md-6 text-center">
                <img src="../static/img/landingpage.jpg" alt="Image">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
