{% extends "Customer/base.html" %}
{% block title %}Healthy Living - Customer Profile{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row flex-row">
      <!-- Vertical Navbar -->
      <nav class="list-group vertical-nav pr-5 border-right" style ="border-right-width: 5px!important;">
        <ul class="navbar-nav">
          <li></li>
          <li class="nav-item active list-group-item">
              <a class="nav-link txt-light" href="/UserProfile">My Account </a>
          </li>
          <li class="nav-item list-group-item">
              <a class="nav-link txt-light" href="/Wishlist">My Wishlist</a>
          </li>
          <li class="nav-item list-group-item">
              <a class="nav-link txt-light" href="/OrderStatus">Order Status</a>
          </li>
          <li class="nav-item list-group-item">
              <a class="nav-link txt-light" href="/OrderHistory">Order History</a>
          </li>
          <li class="nav-item list-group-item">
            <a class="nav-link txt-light" href="{{ url_for('PaymentMethod', id=session['id'])}} ">Payment Methods</a>
          </li>
          <!-- Add more history items as needed -->
        </ul>
      </nav>
      <div class="flex-fill">
        <!-- Add your main content here -->
        <div class="container d-flex flex-column bgd-light txt-dark p-3 ml-5">
          <h2>PERSONAL INFORMATION</h2>
          <div class="line-container">
            <hr class="half-screen-line">
          </div>
          <form action="/UserUpdate/{{ session['id']}}" method="POST">
            <div class="form-group">
              <label for="userfullname">Full Name:</label>
              <input type="text" class="form-control" name="userfullname" value ="{{session['userfullname']}}">
            </div>
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" name="username" value ="{{session['username']}}">
            </div>
            <div class="form-group">
                <label for="userfullname">Role:</label>
                <p>{{ session['user_role'] }}</p>
              </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" class="form-control" name="email" value ="{{session['useremail']}}">
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" name="address" value ="{{session['useraddress']}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="postalCode">Postal Code:</label>
                    <input type="text" class="form-control" name="postalCode" value ="{{session['userpostalcode']}}">
                </div>
            </div>
<!--            <div class="form-group">-->
<!--              <label for="dob">Date of Birth:</label>-->
<!--              <input type="date" class="form-control" id="dob" value="Date of Birth">-->
<!--            </div>-->
            <div class="link-container">
              <a href="{{ url_for('EditCustomerAccount', id=session['id']) }}">Edit</a>
              <a href="{{ url_for('CustomerChangePassword', id=session['id']) }}">Change Password</a>
            </div>
            <br>
                <div class="button-container">
                  <form action="/UserDeactivation/{{ session['id']}}" method="POST">
                  <button type="submit" class="btn btn-primary settings-btn" style="color: #82000a;">Deactivate Account</button>
                  </form>
                </div>
            </form>

            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
